/* 
 *  Author: Evan Douglass
 *  Created: March 07 2019
 *  A simple tic-tac-toe game built with front-end web technologies.
 */

 /*
 * DOM Elements
 * ============
 */

 table {
    border: 3px solid black;
    margin: 1em auto 1em auto;
}

td {
    border: 1px solid black;
    width: 10vh;
    height: 10vh;
    background-color: yellow;
    text-align: center;
}

span {
    color: rgb(92, 92, 255);
}

/*
 * Bootstrap Overrides
 */
 td .btn {
    width: 9vh;
    height: 9vh;
    border-radius: 50%;
    background-color: white;
    border: 1px solid black;
}

.btn:focus {
    box-shadow: none;
}